/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */
// scss-docs-start import-stack
// Configuration
// @import "bootstrap/scss/boostrap";
@import "~bootstrap/scss/bootstrap";